.navbar {
  padding: 0;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.navbar-nav .nav-item {
  margin-right: 15px; /* Adjust the spacing between items */
}

.navbar-nav .nav-item:last-child {
  margin-right: 0; /* Remove margin from the last item */
}

.navbar-toggler {
  order: -1; /* Move the mobile menu button to the beginning */
}

.nav .container-fluid .item {
  color: coral;
  position: relative;
}

.nav .container-fluid .dropdown-menu {
  border: 0;
  border-radius: 0;
  background: #000000;
}
.container-fluid .contacte {
  border-color: rgb(0, 0, 0);
  border-radius: 15px;
  color: rgb(0, 0, 0);
}

footer {
  background-color: #2a1bcf; 
  color: white;
  padding: 20px 0;
  width: 100%;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 50%;
}


#contact-form {
  margin-top: 20px;
}

#contact-form label {
  display: block;
}

#contact-form input, #contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

#contact-form button {
  background-color: #4CAF50; 
  color: white; 
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}