.navbar {
  padding: 0;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.navbar-nav .nav-item {
  margin-right: 15px; /* Adjust the spacing between items */
}

.navbar-nav .nav-item:last-child {
  margin-right: 0; /* Remove margin from the last item */
}

.navbar-toggler {
  order: -1; /* Move the mobile menu button to the beginning */
}

.nav .container-fluid .item {
  color: coral;
  position: relative;
}

.nav .container-fluid .dropdown-menu {
  border: 0;
  border-radius: 0;
  background: #000000;
}

.container-fluid .contacte {
  border-color: brown;
  border-radius: 15px;
  color: rgb(27, 170, 2);
}