.container-fluid {

  margin-left: 0;
  margin-right: 0;
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0);
  text-align: center;
  display: inline;
}



.nav .container-fluid .dropdown-menu {
  margin-top: 0;
  border: 0;
  border-radius: 0;
  background: #000000;
}

.container-fluid .contacte {
  border-color: rgb(0, 0, 0);
  border-radius: 15px;
  color: rgb(0, 0, 0);
}

footer {
  background-color: #2a1bcf; 
  color: white;
  padding: 20px 0;
  width: 100%;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 50%;
}


#contact-form {
  margin-top: 20px;
}

#contact-form label {
  display: block;
}

#contact-form input, #contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

#contact-form button {
  background-color: #4CAF50; 
  color: white; 
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}