.container-fluid {

  margin-left: 0;
  margin-right: 0;
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
  
}


.container-fluid .dropdown-menu {
  margin-top: 0;
  border: 0;
  border-radius: 0;
  background: #000000;
}

.container-fluid .button {
  color: rgb(255, 230, 0);
}